body {
    background-color:rgb(27, 211, 211);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px #000080;
}

.card{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(237, 0, 103);
    padding: 30px;
    max-width: 400px;
    text-align: center;
}

.card img {
    border-radius: 50%;
    width: 140px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #f30448;
}

.card h2 {
  font-size: 18px;
  color: #f30448;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  color: #000080;
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  padding:0;
  margin-bottom: 20px;
}

.card ul li {
  background-color:#ffbded;
  margin: 5px 0;
  padding:8px;
  border-radius: 20px;
}

.card a {
 text-decoration: none;
 color: #bc092f;
 font-weight: bold;
}